@charset "UTF-8";

:root{
	--main-color: #5D9AB2;
	--accent-color: #BF6A7A;
	--dark-main-color: #2B5566;
	--text-bright-color: #fff;
	--icon-color: #fff;
	--icon-bk-color: #ddd;
	--gray-color: #ddd;
	--large-width: 1000px;
	--middle-width: 800px; 
}

body, h1, h2, ul {
	margin: 0;
}

@media(max-width: 599px){
	:root {
		font-size: 12px;
	}
}

@media(mix-width: 600px) and (max-width: 799px) {
	:root {
		font-size: 14px;
	}
}

@media(min-width: 800px){
	:root {
		font-size: 16px;
	}
}

.navA{
	padding: 8px;
}


.navA h1{
	text-align: center;
	margin-bottom: 6px;
	font-size: 28px;
	font-family: 'Monoton', cursive;
}

.navA a {
	text-decoration: none;
	color: inherit;
	font-size: 11px;
}

.navA a:hover {
	opacity: 0.6;
}

.navA ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.navA li:not(last-child) {
	margin-right: 8px;
}

.navA--post{
	border-bottom: 1px solid;
}

.navA--login{
	border-bottom: 1px solid;
}

@media(min-width: 768px){
	.navA .container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navA h1{
		margin: 0;
	}

	.navA .container{
		text-align: center;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}

	
}

.navB {
	margin-bottom: 16px;
	border-bottom: 1px solid;
}

.navB {
	text-align: center;
}


.navB a {
	text-decoration: none;
	color: inherit;
	font-size: 13px;
}

.navB a:first-child {
	margin-right: 20px;
}

.navB a:hover {
	opacity: 0.6;
}


.day {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 3.5em;
	height: 3.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color: #666;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
}

.day p {
	margin: 0;
	font-size: 10px;
}

@media(max-width: 767px){
	.conB{
		width: 80vw;
		border: dotted 1px;
		min-height: 40vh;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}



@media(min-width: 768px){
	.content .container{
		display: flex;
		justify-content: center;
	}

	.conB{
		width: 100px;
		border: dotted 1px;
		min-height: 65vh;
	}

	.conB:not(last-child){
		margin-left: 4px;
	}
}

@media(min-width: 900px){
	
	.conB{
		width: 150px;
	}
}




.post input[name="title"] {
	width: 100%;
	max-width: 600px;
	box-sizing: border-box;
	padding: 6px;
}

.post .container{
	min-width: 330px;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.post{
	margin-top: 4rem;
}

.post h2 {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.post div,label{
	font-size: 1rem;
}

.post .little{
	font-size: 0.8rem;
}

.post .date{
	margin-top: 16px;
	margin-bottom: 5px;
	padding: 0;
}

.post .title{
	margin-top: 16px;
	margin-bottom: 5px;
	padding: 0;
}

.post .place{
	margin-top: 16px;
	margin-bottom: 5px;	
}

.post .submit{
	margin-top: 16px;
	background-color: #333;
	color: #fff;
	border: none;
	width: 50px;
	height: 20px;
	font-weight: bold;
}

.notice .container{
	min-width: 330px;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.warning {
	margin-top: 8px;
	font-size: 0.8rem;
	text-align: center;
}

.warning--yellow{
	background-color: #FFF9C7;
}


.login .container{
	min-width: 330px;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.login input[name="name"],input[name="password"]{
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
	padding: 3px;
}

.login{
	margin-top: 4rem;
}

.login h2 {
	font-size: 1.2rem;
}

.login a {
	text-decoration: none;
	color: inherit;
	font-size: 0.9rem;
}

.login a:hover{
	opacity: 0.6;
}

.login div,label{
	font-size: 1rem;
}

.login .name,.password{
	margin-top: 16px;
	margin-bottom: 5px;
	padding: 0;
}

.login .submit{
	margin-top: 16px;
	background-color: #333;
	color: #fff;
	border: none;
	width: 50px;
	height: 20px;
	font-weight: bold;
}

.login .error{
	color: #bb0000;
	font-size: 0.9rem;
}

.login ul{
	padding-left: 30px;
}
