@charset "UTF-8";


body, h1, h2, ul {
	margin: 0;
}

body {
	word-break: break-all;
	font-family: sans-serif;
}

@media(max-width: 599px) {
	:root {
		font-size: 11px;
	}
}

@media(min-width: 600px) and (max-width: 767px) {
	:root {
		font-size: 14px;
	}
}

@media(min-width: 768px) {
	:root {
		font-size: 16px;
	}
}

.navA {
	padding: 8px;
}

.navA span {
	display: inline-block;
	margin-right: 4px;
}

.navA h1 {
	text-align: center;
	margin-bottom: 6px;
	font-size: 28px;
	font-family: 'DM Sans', sans-serif;
}

.navA a {
	text-decoration: none;
	color: inherit;
	font-size: 11px;
}

.navA a:hover {
	opacity: 0.6;
}

.navA ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
}

.navA li:not(last-child) {
	margin-right: 16px;
}

.navA--post {
	border-bottom: 1.2px solid ;
}

.navA--login {
	border-bottom: 1.2px solid;
}

.navA--login h1 {
	font-size: 25px;
}



@media(min-width: 768px) {

	
	.navA .container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navA h1 {
		margin: 0;
	}

	.navA .container {
		text-align: center;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}

	
}

.navB {
	margin-bottom: 16px;
	border-bottom: 1.2px solid ;
	font-size: 13px;
}

.navB .container {
	text-align: center;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
}

.navB fa-user,.navB fa-users {
	display: inline-block;
	margin-right: 4px;
}

.navB a {
	text-decoration: none;
	color: inherit;
}

.navB a {
	margin-right: 20px;
}

.navB a:last-child {
	margin-left: 20px;
}

.navB a:hover {
	opacity: 0.6;
}

@media(max-width: 767px) {
	.navB {
		position: fixed;
		bottom: 0;
		font-weight: bold;
		background-color: #efefef;
		width: 100%;
		padding: 15px;
		margin-bottom: 0;
		border: none;
	}

	.navA {
		border-bottom: 1.2px solid;
		margin-bottom: 30px;
	}
}

.day {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color: #222;
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
}

.day p {
	margin: 0;
	font-size: 10px;
}


.conA:last-child {
	margin-bottom: 70px;
}

.conB{
	width: 80vw;
	border: solid #cccccc 1px;
	min-height: 20vh;
	max-height: 70vh;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}




@media(min-width: 768px) {
	.content .container {
		display: flex;
		justify-content: center;
	}

	.conA {
		width: 13%;
		min-width: 103px;
	}

	.conA:last-child {
		margin: 0;
	}

	.conB {
		width: 100%;
		min-height: 65vh;
		max-height: none;
	}

	.conA:not(last-child){
		margin-right: 4px;
	}
}


.conB .plan {
	border: 1px solid #dedede;
	background-color: #fbfbfb;
	margin: 2px;
	border-radius: 0.2rem;
	font-size: 0.7rem;
}

.conB  ul {
	white-space: normal;
	list-style-type: none;
	padding: 0;
	line-height: 1.7;
}

.conB .user_name,
.conB li:last-child {
	text-align: right;
	margin-right: 4px;
}

.conB .title {
	font-weight: bold;
	overflow: auto;
	font-size: 0.8rem;
	line-height: 1.5;
	letter-spacing: -0.3px;
}

.conB .fa-film {
	color: #555555;
	display: inline-block;
	margin-right: 4px;
}

.conB .fa-clock {
	color: #555555;
	display: inline-block;
	margin-right: 4px;
}

.conB .place {
	color: #ffffff;
	font-size: 0.6rem;
	padding: 0.2rem;
	font-weight: bold;
	border-radius: 0.1rem;
}

.gray {
	background-color: #555555;
}
.brown {
	background-color: #990000;
}

.red {
	background-color: #ff0000;
}

.lightgreen {
	background-color: #00cc00;
}

.green {
	background-color: #004400;
}

.conB .yellow {
	background-color: #ffff00;
	color: #000000;
}

.lightblue {
	background-color: #00ccff;
}

.conB .white {
	background-color: #ffffff;
	color: #000000;
	border: 1px;
}

.purple {
	background-color: #800080;
}

.black {
	background-color: #000000;
}

@media(max-width: 767px) {

	.conB .plan {
		margin: 2px;
		padding: 10px;
		border-radius: 0.2rem;
		font-size: 1rem;
	}
	
	.conB  ul {
		white-space: normal;
		list-style-type: none;
		padding: 0;
		line-height: 1.7;
	}
	
	.conB .user_name,
	.conB li:last-child {
		text-align: right;
		margin-right: 8px;
	}
	
	.conB .title {
		font-weight: bold;
		overflow: auto;
		font-size: 1.1rem;
		line-height: 1.3;
		letter-spacing: -0.3px;
	}
	
	.conB .fa-film {
		color: #555555;
		display: inline-block;
		margin-right: 4px;
	}
	
	.conB .fa-clock {
		color: #555555;
		display: inline-block;
		margin-right: 4px;
	}
	
	.conB .place {
		color: #ffffff;
		font-size: 0.9rem;
		padding: 0.2rem;
		font-weight: bold;
		border-radius: 0.3rem;
	}
	
}





.post input[name="title"] {
	width: 100%;
	max-width: 600px;
	box-sizing: border-box;
	padding: 6px;
}

.post .container{
	min-width: 330px;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.post{
	margin-top: 4rem;
}

.post h2 {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.post div,label{
	font-size: 1rem;
}

.post .little{
	font-size: 0.8rem;
}

.post .date{
	margin-top: 16px;
	margin-bottom: 5px;
	padding: 0;
}

.post .title {
	margin-top: 16px;
	margin-bottom: 5px;
	padding: 0;
}

.post .place {
	margin-top: 16px;
	margin-bottom: 5px;	
}

.post .submit {
	margin-top: 16px;
	background-color: #333;
	color: #fff;
	border: none;
	width: 50px;
	height: 20px;
	font-weight: bold;
}

.notice .container {
	min-width: 330px;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.warning {
	border: 2px solid #666666;
	border-radius: 0.5rem;
	margin-top: 8px;
	padding: 0.2rem;
	text-align: center;
	max-width: 500px;
}


.login .container {
	min-width: 330px;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
}

.login input[name="name"],input[name="password"] {
	width: 100%;
	max-width: 500px;
	box-sizing: border-box;
	padding: 3px;
}

.login {
	margin-top: 4rem;
}

.login h2 {
	font-size: 1.2rem;
}

.login a {
	text-decoration: none;
	color: inherit;
	font-size: 0.9rem;
}

.login .test-user {
	display: block;
	border-radius: 0.5rem;
	margin-top: 8px;
	padding: 0.2rem;
	text-align: center;
	width: 50vw;
	max-width: 250px;
	margin-top: 25px;
	margin-bottom: 10px;
	background-color: #000;
	color: #fff;
}

.login a:hover {
	opacity: 0.6;
}

.login div,label {
	font-size: 1rem;
}

.login .name,.password {
	margin-top: 16px;
	margin-bottom: 5px;
	padding: 0;
}

.login .submit {
	margin-top: 16px;
	background-color: #333;
	color: #fff;
	border: none;
	width: 50px;
	height: 20px;
	font-weight: bold;
}

.login .error,.post .error {
	color: #bb0000;
	font-size: 0.9rem;
}

.login ul {
	padding-left: 30px;
}

.container--middle {
	box-sizing: border-box;
	width: 95vw;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.log {
	display: flex;
	background-color: #000033;
	color: #ffffff;
	padding: 15px;
}

.log h2 {
	font-size: 1rem;
	margin-bottom: 20px;
}

.log ul{
	padding: 0;
	list-style-type: none;
	font-size: 0.9rem;
}

.log .month,.log .place {
	flex: 1;
}

.log-detail h2{
	font-size: 1rem;
	margin-top: 20px;
	margin-bottom: 15px;
}

.log-detail ul {
	list-style-type: none;
	padding: 0;
}

.log-detail .title{
	margin-left: 10px;
	font-weight: bold;
}

.log-detail .place {
	color: #ffffff;
	padding: 0.2rem;
	border-radius: 0.2rem;
	font-size: 0.8rem;
	margin-left: 10px;
}

.log-detail .time{
	margin-left: 10px;
}

.log-detail .white{
	color: #000000;
}

.log-detail .yellow {
	background-color: #ffff00;
	color: #000000;
}

@media(min-width:768px ){
	.log {
		padding: 30px;
	}

	.log h2 ,.log-detail h2{
		font-size: 0.9rem;
	}
	
	.log ul{
		font-size: 0.8rem;
	}
	
	.container--middle  {
		margin-top: 30px;
	}
}

